<div class="col-sm-12 col-md-6 mx-auto">
  <ul class="list-unstyled">
    <li *ngFor="let contact of contacts">
      <div class="card card-body">
        <div class="row mb-3">
          <div class="col-10">
            <h5>{{contact.name}}</h5>
          </div>
          <div class="col-2">
            <div class="border rounded text-center py-2">
              <i
                class="fas"
                [class.fa-minus]="contact.hideDetails !== true"
                [class.fa-plus]="contact.hideDetails === true"
              ></i>
            </div>
          </div>
        </div>

        <div *ngIf="contact.hideDetails !== true" class="card card-body">
          <h6><strong>Email: </strong> {{contact.email}}</h6>
          <h6><strong>Phone: </strong> {{contact.phone}}</h6>
        </div>
      </div>
    </li>
  </ul>
</div>
